body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #fbf5f5;
}

.container {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 60px;
  max-width: 900px;
  margin: 0 auto;
}

.title {
  color: #6bb86b;
  font-size: 60px;
  margin-bottom: 45px;
  font-family: 'Brush Script MT', cursive;
  font-weight: normal;
}

.search-box {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 40px;
}

.search-box input {
  width: 440px;
  padding: 14px 18px;
  font-size: 17px;
  color: #000000;
  border-radius: 4px;
  border: 2px solid #777;
  background: white;
}

.search-box input:focus {
  outline: none;
  border-color: #000000;
}

.search-box button {
  padding: 14px 32px;
  background-color: #6bb86b;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 17px;
  font-weight: 600;
}

.word-row {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 35px;
}

.word-title {
  font-size: 40px;
  font-weight: bold;
  margin: 0;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 6px;
  color: #000;
}

.audio-btn {
  background: #e5e5e5;
  border: 2px solid #999;
  color: #6bb86b;
  padding: 9px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 13px;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-weight: 700;
  text-transform: uppercase;
}

.audio-btn:onclick {
  background: #77c47b;
}

.result-card {
  width: 90%;
  max-width: 600px;
  margin: 25px auto;
  background: white;
  padding: 35px 40px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
  text-align: left;
}

.part {
  color: #000;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 8px;
  display: inline-block;
}

.result-card > div {
  margin-bottom: 22px;
}

.result-card p {
  color: #1a1a1a;
  line-height: 1.00;
  margin: 6px 0;
  font-size: 16px;
}

.example {
  color: #2a2a2a;
  margin-top: 6px;
  line-height: 1.00;
  font-size: 16px;
}